<section class="product-price-filter">
  <span>{{ selectedMinPrice | currency }}</span>
  <mat-slider [min]="globalMinPrice()" [max]="globalMaxPrice()">
    <input
      [value]="globalMinPrice()"
      [(ngModel)]="selectedMinPrice"
      (valueChange)="onPriceChange()"
      matSliderStartThumb
    />
    <input
      [value]="globalMaxPrice()"
      [(ngModel)]="selectedMaxPrice"
      (valueChange)="onPriceChange()"
      matSliderEndThumb
    />
  </mat-slider>
  <span>{{ selectedMaxPrice | currency }}</span>
</section>
