@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  @include mat.theme(
    (
      color: mat.$red-palette,
      typography: Roboto,
      density: -2,
    )
  );
}
