<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product().name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="product().image" alt="{{ product().name }}" />
  <mat-card-content>
    <p>{{ product().shortDescription }}</p>

    <p class="price">
      {{ product().price | currency }}
      @if (product().oldPrice) {
        <span class="old-price">{{ product().oldPrice | currency }}</span>
      }
    </p>
    <shared-ui-tags [tags]="product().tags" />
  </mat-card-content>
  <mat-card-actions>
    <ng-content />
  </mat-card-actions>
</mat-card>
